html, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Kr', '맑은 고딕', Dotum, '돋움', Gulim, '굴림', Tahoma, Arial;
    overscroll-behavior: none;
  }
  
  html {
    &.v-overlay-scroll-blocked {
      overflow: hidden;
    }
  }
  
  .v-application {
    [class*='text-'] {
      color: #36405a;
      font-family: 'Noto Sans Kr', '맑은 고딕', Dotum, '돋움', Gulim, '굴림', Tahoma, Arial, sans-serif !important;
    }
  
    font-family: 'Noto Sans Kr', '맑은 고딕', Dotum, '돋움', Gulim, '굴림', Tahoma, Arial, sans-serif !important;
  }
  